<%# Check out personalized Headers for each page %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1506521781263-d8422e82f27a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGFya2luZ3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=60);">
  <div class="container">
    <h1>Rentway </h1>
    <p> Find your parking spot effortlessly.
    </p>
    <a class="btn btn-flat" href="#">Find your spot </a>
  </div>
</div>
